extends layout.pug

block variables
  - const title = 'About us'

block content
  div
    h1 About us

    h2 The team
    p.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      <br />
      Alias, quia voluptatibus eligendi in libero sint eius.
      <br />
      Pariatur et eius voluptas maxime amet omnis rem veritatis harum natus aspernatur, tenetur repellendus.

    h2 Our values
    p.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      <br />
      Dolorem optio eaque doloremque deserunt ipsa quasi, vitae cumque sequi est porro distinctio.
      <br />
      Sunt excepturi dolor doloribus, ab ad perspiciatis inventore commodi.