extends ../layout.pug

block variables
  - const title = 'Create Post'

block content
  div
    a(href=`/posts`) ← Back to posts

    h1 New Post

    form(action="/posts" method="post" enctype="multipart/form-data")
      input(type="text" name="title" placeholder="Title")
      input(type="file" name="image")
      textarea(name="body" cols="30" rows="10" placeholder="Content")
      button(type="submit") Create post