extends ../layout.pug

block variables
  - const title = 'Latest Posts'

block content
  div
    h1 Latest posts
    a(href="/posts/create" role="button") Create post
    br
    br
    if showAll
      a(href="/posts") Show published only
    else
      a(href="/posts?all=true") Show all
    each post in posts
      div
        hr
        h3= post.title
        if !post.isPublished
          small (Draft)
        div(style="margin-bottom: 12px").post-content= truncate(post.body, 240)
        a(href=`/posts/${post.id}`) Read more →
