extends ../layout.pug

block variables
  - const title = 'Latest Posts'

block content
  div
    h1 Most recent posts
    a(href="/posts/create") Create post
    if showAll
      p Showing all posts #[a(href="/posts") Only show published]
    else
      p Only showing published posts #[a(href="/posts?all=true") Show all]
    each post in posts
      div
        h3= post.title
        if !post.isPublished
          small (Draft)
        pre(style="background-color:lightgray; padding: 8px")=post.body
        a(href=`/posts/${post.id}`) Read more →
